.topnav, .bottombar {
    overflow: hidden;
}

.topnav li {
    float: right;
    text-align: center;
    padding: 14px 16px;
}

.right {
    float: right;
    text-align: center;
    padding: 14px 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo, .boxsearch, .searchbuttons, p {
    text-align: center;
}

img {
    padding-top: 109px;
    height: 92px;
    width: 272px;
}

body, a, p {
    font-family: arial, sans-serif;
}

html, body {
    font-size: small;
    margin: 0;
}

body {
    color: #222;
    background: #fff;
}

html {
    display: block;
}