img {
    padding-top: 109px;
    height: 92px;
    width: 272px;
}

html, body {
    font-size: small;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #222;
    background: #fff;
}

html {
    display: block;
}