.topnav, .bottomnav {
    overflow: hidden;
}

.topnav {
    top: 0;
    width: 100%;
}

.topnav span {
    float: right;
    text-align: center;
    padding: 14px;
    padding-right: 30px;
    align-items: center;
}

.signin {
    color: #fff;
    border: 1px solid #4285f4;
    border-radius: 2px;
    background: #4285f4;
    font-weight: bold;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
}

.bbnav {
    padding-left: 27px;
    margin: 0 !important;
}

#right {
    margin-right: 30px;
    float: right;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

.logo, .boxsearch, .searchbuttons, p {
    text-align: center;
}

.bottomnav {
        left: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 40px;
        background-color: #f2f2f2;
        border-top: 1px solid #e4e4e4;
}

.bottomnav a {
    color: #5f6368;
}

img {
    padding-top: 109px;
    height: 92px;
    width: 272px;
}

.logo {
    height: 233px;
    margin-top: 89px;
}

body, a, p {
    font-family: arial, sans-serif;
}

html, body {
    font-size: small;
    margin: 0;
}

body {
    color: #222;
    background: #fff;
}

html {
    display: block;
}